rules_version = '2';

// Craft rules based on data in your Firestore database
// allow write: if firestore.get(
//    /databases/(default)/documents/users/$(request.auth.uid)).data.isAdmin;
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // Allow reads if the file is publicly readable
      allow read: if true;
      // Deny all writes for security
      allow write: if false;
    }
  }
}
